* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float::after {
    content: '';
    display: table;
    clear: both;
}

aside, header, main {
    /* opacity: 0.5; */
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 200px;
    height: calc(100vh - 90px);
    float: left;
}


header {
    background-color: black;
    opacity: 0.9;
    width: calc(100vw - 200px);
    height: 80px;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    background-color: #0d0d0d;
    padding: 50px 0 0 50px;
    width: calc(100vw - 200px);
    height: calc(100vh - 90px - 80px);
    float: left;
    overflow-y: auto;
}

footer {
    background-color: black;
    opacity: 0.9;
    float: left;
    height: 90px;
    width: 100vw;
}

@media screen and (max-width: 420px) {
    aside {
        width: 70px;
    }
    .logo img {
        display: none;
    }

    .logo-spotify {
        display: flex;
        justify-content: center;
        padding: 4px;

    }

    .logo-spotify i {
        visibility: visible;
        color: forestgreen;
        text-align: center;
        font-size: 40px;
    }
    aside a,
    aside h5,
    aside .playlist li {
        display: none;
    }

    header,
    main {
        width: calc(100vw - 70px);
    }
}

.aside-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 200px;
}

.menu {
    padding: 10px;
}

.menu li {
    padding: 5px;
    padding-right: 5px;
    list-style: none;
    cursor: pointer;
    color: lightgrey;
}

.menu li:hover {
    color: white;
}

.menu li:active {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
}

.menu i {
    color: lightgrey;
    font-size: 30px;
}

.menu a {
    color: lightgray;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
}

.playlist {
    padding: 10px;
    color: lightgrey;
}

.playlist li {
    padding: 5px;
    padding-right: 5px;
    list-style: none;
    cursor: pointer;
}

.playlist li:hover {
    color: white;
}

.playlist li:active {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
}

.playlist i {
    color: lightgrey;
    font-size: 30px;
}

.playlist a {
    color: lightgray;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
    font-size: 15px;
}

.installa {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}

.installa-app {
    padding: 10px;
}

.installa-app i {
    color: lightgray;
    font-size: 15px;
}

.installa-app i:hover {
    color: white;
    cursor: pointer;
}

.installa-app a {
    color: lightgray;
    text-decoration: none;
    font-size: 10px;
}

.name {
    display: flex;
    justify-content: center;
}

.name i {
    color: lightgray;
    font-size: 20px;
}

.name i:hover {
    color: white;
    cursor: pointer;
}

.name a {
    color: lightgray;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
}

.btn-account {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border-color: white;
    background-color: black;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-account:hover {
    background-color: lightgrey;
    color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card-album {
    flex: 0 1 230px;
    background-color: #262626;
    border-radius: 10px;
    margin: 10px;

}
.card-immagine {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s;
}

.card-immagine:hover {
    opacity: 0.4;
}

.card-immagine i {
    font-size: 50px;
    color: forestgreen;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    display: none;
}

.card-immagine:hover i{
    display: block;
}

.card-immagine img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.card-track {
    text-align: center;
    padding: 15px;
}

.card-track h3 {
    color: white;
    cursor: pointer;
}

.card-track small {
    color: lightgrey;
    cursor: pointer;
}

.player {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.preferiti {
    display: flex;
    align-items: center;
    color: lightgrey;
}

.preferiti img {
    height: 80px;
    width: 80px;
    padding: 10px;
}

.preferiti i {
    color: lightgrey;
    font-size: 15px;
    padding: 20px;
}

.preferiti i:hover {
    color: white;
    cursor: pointer;
}

.commandi {
    text-align: center;
    padding: 20px;
}

.commandi i {
    color: lightgrey;
    font-size: 20px;
    padding: 5px;
}

.commandi i:hover {
    color: forestgreen;
    cursor: pointer;
}


.time::after {
    content: "";
    display: inline-block;
    width: 400px;
    height: 4px;
    background-color: lightgray;
}

.volume {
    display: flex;
    align-items: center;
}

.volume i {
    color: lightgrey;
    font-size: 15px;
    padding: 5px;
}

.volume i:hover {
    color: white;
    cursor: pointer;
}

.volume-after::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: lightgray;
    margin-right: 30px;
    margin-bottom: 3px;
}
