* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FLOAT */

.float::after {
    content: '';
    display: table;
    clear: both;
}

aside, header, main {
    /* opacity: 0.5; */
}

aside {
    background-color: black;
}

header {
    background-color: black;
    opacity: 0.9;
}

main {
    background-color: green;
    padding: 50px 0 0 50px;
}

footer {
    background: blue;
}

aside {
    width: 200px;
    height: 100vh;
    float: left;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo img {
    height: 40px;
    width: 140px;
}

.menu {
    padding: 10px;
}

.menu li {
    padding: 5px;
    padding-right: 5px;
    list-style: none;
}

.menu i {
    color: lightgrey;
    font-size: 30px;
}

.menu a {
    color: lightgray;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
}

.menu li:active {
    background-color: darkgray;
    color: white;
}

.playlist {
    padding: 10px;
    color: lightgrey;
    margin-top: 15px;
}

.playlist li {
    padding: 5px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
}

.playlist i {
    color: lightgrey;
    font-size: 30px;
}

.playlist a {
    color: lightgray;
    text-decoration: none;
    list-style: none;
    padding-left: 15px;
    font-size: 15px;
}

.playlist li:active {
    background-color: darkgray;
    color: white;
}

header {
    width: calc(100vw - 200px);
    height: 80px;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-account {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border-color: white;
    background-color: black;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 15px;
}

main {
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    float: left;
    overflow-y: auto;
}

footer {
    float: left;
    height: 90px;
    width: 100vw;
}
